{% extends "base.html" %}
{% load static %}

{% block title %}
    Shopping carts
{% endblock %}

{% block content %}
    <table class="table table-striped cart-table">
        <thead>
            <tr>
                <th scope="col">이미지</th>
                <th scope="col">상품</th>
                <th scope="col">수량</th>
                <th scope="col">삭제</th>
                <th scope="col">가격</th>
                <th scope="col">총 가격</th>
            </tr>
        </thead>
        <tbody>
        {% for item in carts %}
            {% with product=item.product %}
            <tr>
                <th scope="row">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.thumbnail.url }}" class="img-thumbnail">
                    </a>
                </th>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url "carts:product_add" product.id %}" method="post">
                        {% csrf_token %}
                        {{ item.quantity_form.quantity }}
                        {{ item.quantity_form.is_update }}
                        <input type="submit" class="btn btn-primary" value="수정">
                    </form>
                </td>
                <td><a href="{% url "carts:product_remove" product.id %}">삭제</a></td>
                <td class="num">{{ item.price }}</td>
                <td class="num">{{ item.total_price }}원</td>
            </tr>
            {% endwith %}
        {% endfor %}
        {% if carts.coupons %}
        <tr class="total">
            <td>SubTotal</td>
            <td colspan="4"></td>
            <td class="num">${{ carts.get_total_price|floatformat:"2" }}</td>
        </tr>
        <tr>
            <td>{{carts.coupons.code}} coupons ({{carts.coupons.amount}})</td>
            <td colspan="4"></td>
            <td>- {{carts.get_discount_total|floatformat:"2"}}</td>
        </tr>
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">{{carts.get_total_price|floatformat:"2"}}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <p>
        Add coupons:
    </p>
    <form action="{% url 'coupons:add' %}" method="post">
        {% csrf_token %}
        {{ add_coupons }}
        <input type="submit" value="Add">
    </form>

    <p class="text-right">
        <a href='{% url "products:all_list" %}' class="btn btn-secondary">쇼핑 계속하기</a>
{#        <a href='{% url "orders:order_create" %}' class="btn btn-primary">Checkout</a>#}
    </p>
{% endblock %}