{% extends "base.html" %}
{% block content %}
    <ul class="list-group">
        {% for item in cart %}
            <li class="list-group-item">
                {{ item.quantity }}X{{ item.product.name }}
                <span>{{ item.total_price }}</span>
            </li>
        {% endfor %}
        {% if cart.coupon %}
            <li class="list-group-item">

                "{{ cart.coupon.code }}" ({{ cart.coupon.amount }}% off)

                <span>- ${{ cart.get_total_discount|floatformat:"2" }}</span>
            </li>
        {% endif %}
    </ul>
    <form action="" class="order-form">
        {% csrf_token %}
        {{ form }}
        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="hidden" name="pre_order_id" value="0">
        <input type="hidden" name="amount" value="{{ cart.get_total_price }}">
    <input type="submit" class="btn btn-primary float-right" value="결제하기">
    </form>
{% endblock %}
{% block scripts %}
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js" type="text/javascript"></script>
    <script type="text/javascript">
        csrf_token = '{{ csrf_token }}';
        order_create_url = '{% url "orders:order_create_ajax" %}';
        order_checkout_url = '{% url "orders:order_checkout" %}';
        order_validation_url = '{% url "orders:order_validation" %}';
        order_complete_url = '{% url "orders:order_complete" %}';
    </script>
    <script>
        $(function () {
            var IMP = window.IMP;
            IMP.init('imp78619035');
            $('.order-form').on('submit', function (e) {
                var amount = parseInt($('.order-form input[name="amount"]').val().replace(',', ''));
                var type = $('.order-form input[name="type"]:checked').val();
                // 폼 데이터를 기준으로 주문 생성
                var order_id = AjaxCreateOrder(e);
                if (order_id == false) {
                    alert('주문 생성 실패\n다시 시도해주세요.');
                    return false;
                }

                // 결제 정보 생성
                var merchant_id = AjaxStoreTransaction(e, order_id, amount, type);

                // 결제 정보가 만들어졌으면 iamport로 실제 결제 시도
                if (merchant_id !== '') {
                    IMP.request_pay({
                        merchant_uid: merchant_id,
                        name: 'E-Shop product',
                        buyer_name: $('input[name="first_name"]').val() + " " + $('input[name="last_name"]').val(),
                        buyer_email: $('input[name="email"]').val(),
                        amount: amount
                    }, function (rsp) {
                        if (rsp.success) {
                            var msg = '결제가 완료되었습니다.';
                            msg += '고유ID : ' + rsp.imp_uid;
                            msg += '상점 거래ID : ' + rsp.merchant_uid;
                            msg += '결제 금액 : ' + rsp.paid_amount;
                            msg += '카드 승인번호 : ' + rsp.apply_num;
                            // 결제가 완료되었으면 비교해서 디비에 반영
                            ImpTransaction(e, order_id, rsp.merchant_uid, rsp.imp_uid, rsp.paid_amount);
                        } else {
                            var msg = '결제에 실패하였습니다.';
                            msg += '에러내용 : ' + rsp.error_msg;
                            console.log(msg);
                        }
                    });
                }
                return false;
            });
        });

        // 폼 데이터를 기준으로 주문 생성
        function AjaxCreateOrder(e) {
            e.preventDefault();
            var order_id = '';
            var request = $.ajax({
                method: "POST",
                url: order_create_url,
                async: false,
                data: $('.order-form').serialize()
            });
            request.done(function (data) {
                if (data.order_id) {
                    order_id = data.order_id;
                }
            });
            request.fail(function (jqXHR, textStatus) {
                if (jqXHR.status == 404) {
                    alert("페이지가 존재하지 않습니다.");
                } else if (jqXHR.status == 403) {
                    alert("로그인 해주세요.");
                } else {
                    alert("문제가 발생했습니다. 다시 시도해주세요.");
                }
            });
            return order_id;
        }

        // 결제 정보 생성
        function AjaxStoreTransaction(e, order_id, amount, type) {
            e.preventDefault();
            var merchant_id = '';
            var request = $.ajax({
                method: "POST",
                url: order_checkout_url,
                async: false,
                data: {
                    order_id: order_id,
                    amount: amount,
                    type: type,
                    csrfmiddlewaretoken: csrf_token,
                }
            });
            request.done(function (data) {
                if (data.works) {
                    merchant_id = data.merchant_id;
                }
            });
            request.fail(function (jqXHR, textStatus) {
                if (jqXHR.status == 404) {
                    alert("페이지가 존재하지 않습니다.");
                } else if (jqXHR.status == 403) {
                    alert("로그인 해주세요.");
                } else {
                    alert("문제가 발생했습니다. 다시 시도해주세요.");
                }
            });
            return merchant_id;
        }

        // iamport에 결제 정보가 있는지 확인 후 결제 완료 페이지로 이동
        function ImpTransaction(e, order_id, merchant_id, imp_id, amount) {
            e.preventDefault();
            var request = $.ajax({
                method: "POST",
                url: order_validation_url,
                async: false,
                data: {
                    order_id: order_id,
                    merchant_id: merchant_id,
                    imp_id: imp_id,
                    amount: amount,
                    csrfmiddlewaretoken: csrf_token
                }
            });
            request.done(function (data) {
                if (data.works) {
                    $(location).attr('href', location.origin + order_complete_url + '?order_id=' + order_id)
                }
            });
            request.fail(function (jqXHR, textStatus) {
                if (jqXHR.status == 404) {
                    alert("페이지가 존재하지 않습니다.");
                } else if (jqXHR.status == 403) {
                    alert("로그인 해주세요.");
                } else {
                    alert("문제가 발생했습니다. 다시 시도해주세요.");
                }
            });
        }

        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>
{% endblock %}