.container {
    margin-top: 100px;
}

.product-list .product-item {
    display: inline-block;
    width: 17.6%;
    margin-right: 3%;
}

.detail-area {
    display: flex;
    min-height: 650px;
}

.detail-area .img-area {
    flex: 1;
    padding-right: 50px;
}

.detail-area .info-area {
    flex: 1;
}

.info-area .product-name {
    font-size: 20px;
    font-weight: 700;
}

.info-area .product-info {

}

.login-area {
    width: 50%;
    margin: 0 auto;
}

.cart-table {
    width: 900px;
    margin: 0 auto;
}
.cart-table tbody img {
    width: 100%;
}
