{% load static %}
<!DOCTYPE html>

<html lang="ko">

{% include 'head.html' %}

   <body>
      {% include 'header.html' %}

   <!-- Menu -->

      {% block content %}

      {% endblock %}

      {% include 'footer.html' %}

   <script src="{% static 'js/scripts.js' %}"></script>
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
   <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
   <script src="{% static 'js/skel.min.js' %}"></script>
   <script src="{% static 'js/util.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>