<!-- Header -->
   <header id="header">
       <nav class="left">
           <a href="#menu"><span>Menu</span></a>
       </nav>

       <nav id="menu">
            <ul class="links">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% for category in categories %}
                   <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <ul class="actions vertical">
                <li><a href="{% url 'accounts:login' %}" class="button fit">Login</a></li>
            </ul>
        </nav>

       <a href="{% url 'home' %}" class="logo">glry</a>

       <nav class="right">
           {% if user.is_active %}
               {% firstof user.profile.nickname user.get_username %}님
               <a href="{% url 'accounts:logout' %}" class="button alt">로그아웃</a>
               <a href="{% url 'accounts:detail' pk=join_user.pk %}" class="button alt">Mypage</a>
           {% else %}
               <a href="{% url 'accounts:login' %}" class="button alt">로그인</a>
           {% endif %}
       </nav>
   </header>