<!-- Header -->
   <header id="header">
       <nav class="left">
           <a href="#menu"><span>Menu</span></a>
       </nav>
       <a href="{% url 'home' %}" class="logo">glry</a>
       <nav class="right">
           {% if user.is_active %}
               {% firstof user.profile.nickname user.get_username %}님
               <a href="{% url 'accounts:logout' %}" class="button alt">로그아웃</a>
               <a href="{% url 'accounts:detail' pk=join_user.pk %}" class="button alt">Mypage</a>
           {% else %}
               <a href="{% url 'accounts:login' %}" class="button alt">로그인</a>
           {% endif %}
       </nav>
   </header>