{% extends 'base.html' %}
{% block title %}메인페이지{% endblock %}

{% block content %}

<!-- Banner -->
    <section id="banner">
        <div class="content">
            <h1>짜자잔</h1>
            <p>내용 입력<br />내용입력하세요</p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Get Started</a></li>
            </ul>
        </div>
    </section>

<!-- Product -->
    <section id="three" class="wrapper">
        <div class="inner flex flex-3">
            {% for product in products %}
                <div class="flex-item box">
                    <div class="image fit">
                        <img src="media/{{ product.thumbnail }}" alt=""/>
                    </div>
                    <div class="content">
                        <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                        <p>{{ product.description }}</p>
                        <p align="right">￦{{ product.price }} 원</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}