{% extends 'base.html' %}
{% block title %}메인페이지{% endblock %}

{% block content %}

<!-- Banner -->
    <section class="banner full">
        <article>
            <img src="static/images/slide_01.png" alt="" />
            <div class="inner">
                <header>
                    <p>배너 테스트</p>
                    <h2>BANNER</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="static/images/slide_02.png" alt="" />
        </article>
        <article>
            <img src="static/images/slide_03.png"  alt="" />
        </article>
    </section>

<!-- Product -->

    <section id="three" class="wrapper">
        <div class="inner">
            <h2 id="content" style="color:#000000">Best Product</h2>
        </div>
        <div class="inner flex flex-3">
            {% for product in products|slice:6 %}
                <div class="flex-item box">
                    <div class="image fit">
                        <a href="{{ product.get_absolute_url }}"><img src="media/{{ product.thumbnail }}" alt=""/></a>
                    </div>
                    <div class="content">
                        <h3 style="color:#727a82">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h3>
                        <p>{{ product.description }}</p>
                        <p align="right">￦{{ product.price }}</p>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                <div class="inner flex flex-3">
                {% endif %}

                {% if forloop.last %}
                    {% if not forloop.counter|divisibleby:"3" %}
                        {% if forloop.counter|divisibleby:"2" %}
                            <div class="flex-item box" style="border:0px"> </div>
                            <div class="flex-item box" style="border:0px"> </div>
                        {% else %}
                            <div class="flex-item box" style="border:0px"> </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>
    </section>

{% endblock %}