{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<style>
    .custombutton {
		-moz-appearance: none;		-webkit-appearance: none;		-ms-appearance: none;		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
        box-shadow: inset 0 0 0 1px #dee1e3;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		height: 3.5em;
		line-height: 3.5em;
		padding: 0 2.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
        margin: 0 0 1em 0;
	}

</style>

<!-- Product Image, Price 영역 -->
    <section class="wrapper">
        <div class="inner" style="width:70%">
            <div class="row uniform">
                <div class="7u 12u$(small)">
                    <div class="flex-item image fit">
                        <img src="{{ product.thumbnail.url }}" alt="" />
                    </div>
                </div>
                <div class="5u$ 12u$(small)">
                    <div class="flex-item box" style="margin:0;">
                        <div class="content">
                            <div id="name">
                                <h2 style="color:#000000">{{ product.name }}</h2>
                            </div>
                            <div id="price">
                                <p style="font-size: 1.5em; color:#6F7E91;">25%</p>
                                <p style="font-size: 1.5em; color:#6F7E91; align:right;">{{ product.price }}</p>
                            </div>
                            <div id="option" style="margin:0 0 1em 0;">
                                <input type="text" name="count" value="1" style="width:50%; align:right;" class="prod-quantity"/>
                            </div>
                            <div id="like" style="width:100%">
                                <a href="#" class="custombutton">
                                    <strong>찜하기</strong>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="add_cart" class="custombutton">
                                    <strong>장바구니</strong>
                                </button>
                            </div>
                            <div id="order">
                                <a href="#" class="custombutton" style="width:100%; background-color:#f6755e;">
                                    <strong style="color:#ffffff;">주문하기</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="wrapper">
        <div class="inner" style="width:70%">
            {{ product.description | safe }}
        </div>
    </section>


{% endblock %}
{% block scripts %}
    <script>
        var cart_url = "{% url 'carts:product_add' product.pk %}";
        var csrf_token = "{{ csrf_token }}";
    </script>
    <script>
        $('#add_cart').on('click', function(e){
            e.preventDefault();
            var prod_quantity = $('.prod-quantity').val();
            var newForm = $('<form></form>');
            newForm.attr("method", "post");
            newForm.attr("action", cart_url);

            newForm.append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', val: csrf_token}));
            newForm.append($('<input/>', {type: 'hidden', name: 'quantity', val: prod_quantity}));
            newForm.appendTo('body');
            newForm.submit();
        })
    </script>
{% endblock %}