{% extends 'base.html' %}
{% load product_extras %}
{% block content %}

<!-- New Product -->

    <section id="three" class="wrapper">
        <div class="inner" style="width:80%">
            <h2 id="content" style="color:#000000">{{ selected_category|is_category }}</h2>
        </div>
        <div class="inner flex flex-3" style="width:80%">
            {% for product in product_list %}
                <div class="flex-item box">
                    <div class="image fit">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.thumbnail.url }}" alt="{{ product.name }} 상품 이미지"/>
                        </a>
                    </div>
                    <div class="content">
                        <h3 style="color:#727a82">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h3>
                        <p align="right">￦{{ product.price }}</p>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                <div class="inner flex flex-3" style="width:80%">
                {% endif %}

                {% if forloop.last %}
                    {% if not forloop.counter|divisibleby:"3" %}
                        {% if forloop.counter|divisibleby:"2" %}
                            <div class="flex-item box" style="border:0px"> </div>
                            <div class="flex-item box" style="border:0px"> </div>
                        {% else %}
                            <div class="flex-item box" style="border:0px"> </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>
    </section>


{% endblock %}